<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="./js/md5.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="./js/jquery.js"></script>
		<link type="text/css" rel="stylesheet" href="./css/fanyi.css"/>
	</head>
	<body>
		
		<center><h2>翻译测试版</h2></center>
		<div class="wrap" id="app">
			<div class="top">
				<div>appid:<input type="text" v-model="appid"/></div>
				<div>密钥:<input type="text" v-model="miyue"/></div>
			</div>
			<div class="number">
				<div>翻译次数:</div>
				<div>二次<input type="radio" name="number" value="number2"/></div>
				<div>四次<input type="radio" name="number" value="number4"/></div>
				<div>六次<input type="radio" name="number" value="number6"/></div>
			</div>
			<div class="text">
				原文：<div><textarea cols="40" rows="25" v-model="textbefore"></textarea></div>
				译文：<div><textarea cols="40" rows="25" id="tf"></textarea></div>
			</div>
			<div class="bottom"><button type="button" @click="show" style="width:120px;height: 30px;color: blue;line-height: 30px;">提交</button></div>
		</div>
		<script src="./js/fanyi.js"></script>
	</body>
</html>
